//! Cards
.card-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 3%;
  margin-left: 1.2%;
}
//
.main-card {
  width: 30%;
  margin-bottom: 3%;
}
