$buttonBG: #5d87ff;
$otherBtn: #414a52;
$buttonText: #ffffff;
$purpleColor: #6423f2;
$radius: 5px;
$fontWeight: 700;

$headingText: 34px;

$descColor: #636060;

.main-btn {
  color: #{$buttonText};
  background-color: #{$buttonBG};
  border: none;
  text-wrap: nowrap;
  border-radius: $radius;
  height: 45px;
  width: 95px;
  padding: 1% 3%;
  margin: 1%;
}
.main-btn:hover {
  background-color: #{$buttonText};
  color: #{$buttonBG};
}

.other-btn {
  color: #{$buttonText};
  background-color: #{$otherBtn};
  border: none;
  text-wrap: nowrap;
  border-radius: $radius;
  height: 45px;
  width: 95px;
  padding: 1% 3%;
  margin: 1%;
}
.other-btn:hover {
  background-color: #{$buttonText};
  color: #{$otherBtn};
}

//! NavBar
.main-navbar {
  padding: 0% 2%;
  color: white;
  background-color: rgb(67, 66, 69);
  border-radius: $radius;

  label {
    font-size: 25px;
    font-weight: 700;
  }
  .login-btn {
    color: #{$buttonText};
    background-color: #{$buttonBG};
    border: none;
    text-wrap: nowrap;
    border-radius: $radius;
    padding: 1% 3%;
    margin: 1%;
  }

  .login-btn:hover {
    background-color: #{$buttonText};
    color: #{$buttonBG};
  }
}

//! Default Page Layout
.body-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;

  .heading-text {
    font-size: $headingText;
    font-weight: $fontWeight;
    width: 60%;
  }
  .subheading-text {
    width: 70%;
    margin: 2% 0%;
    font-size: 16px;
    font-weight: $fontWeight;
    color: $descColor;
  }
}

//! Features
.features-container {
  .feature-cards-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.feature-card {
  width: 30%;
  margin: 3% 1%;

  .icon {
    // border: 2px solid $descColor;
    // border-radius: $radius;
    // padding: 2%;
  }

  .title {
    font-weight: $fontWeight;
    font-size: 20px;
    margin-top: 3%;
  }

  .descrition {
    margin-top: 2%;
  }
}

//! Company
.company-container {
  color: #ffffff;
  width: 100%;
  height: 15vh;
  background-color: #3f4041;
  border-radius: $radius;
  display: flex;
  justify-content: center;
  align-items: center;
}

//! Review
.reviews-container {
  background-color: #dfe5f8;
  .review-cards-container {
    width: 100%;
    margin-top: 2rem;
  }
  .singleReview {
    background-color: #ffffff;
    margin: 0% 1.2%;
    width: 33%;
    padding: 3% 2%;
    box-shadow: 0px 0px 5px 1px;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .comment {
      padding-bottom: 2rem;
      border-bottom: 1px solid rgb(153, 153, 153);
    }

    label {
      margin-top: 1rem;
      font-weight: $fontWeight;
      font-size: 20px;
    }
  }
}

//! Pricing
.pricing-container {
  margin-top: 6%;
  width: 90%;
  .pricing-cards-container {
    width: 100%;
    margin-top: 2rem;
    gap: 3%;
  }

  .singlePlan {
    width: 33%;
    padding: 3% 2%;
    border: 1px solid #949494;
    border-radius: $radius * 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .just-text {
      font-size: 14px;
    }
    .price {
      margin-top: 8%;
      span {
        font-size: 34px;
        font-weight: $fontWeight;
      }
    }

    ul {
      margin-top: 3%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    li {
      font-size: 10px;
      color: #373737;
      font-weight: 6400;
      margin-top: 1%;
    }

    .black-button {
      width: 100%;
      background-color: #000;
      color: #ffffff;
      padding: 3% 0%;
      font-weight: 700;
      border-radius: $radius * 2;
      transition: width 2s, height 2s, transform 2s;
      &:hover {
        color: #000;
        background-color: #ffffff;
      }
    }
  }

  .purple {
    p {
      color: #{$purpleColor};
    }
    .black-button {
      border: 1px solid #{$purpleColor};
      background-color: #{$purpleColor};
      &:hover {
        color: #{$purpleColor};
        background-color: #ffffff;
      }
    }
  }
}
//! Blogs
.blogs-container {
  background-color: #dfe5f8;
  margin-top: 2rem;
  .blog-cards-container {
    width: 100%;
  }

  .singleBlog {
    background-color: #ffffff;
    margin: 0% 1.2%;
    width: 33%;
    padding: 3% 2%;
    box-shadow: 0px 0px 5px 1px;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    .title {
      font-size: 20px;
      font-weight: $fontWeight;
    }
    .excerpt {
      margin-top: 3%;
      padding-bottom: 2rem;
      border-bottom: 1px solid rgb(153, 153, 153);
    }

    .extra-details {
      width: 100%;
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      .author {
        font-weight: 500;
      }
      .category {
        color: #ffffff;
        background-color: #5d87ff;
        padding: 2% 4%;
        border-radius: 50px;
      }
    }
  }
}

//! Footer
.footer-container {
  background-color: black;
  padding: 2%;
  width: 100%;
  // margin-top: 3%;
  h3 {
    font-weight: 800;
    color: #ffffff;
  }
  label {
    color: #ffffff;
    font-weight: 800;
    margin-bottom: 2rem;
    font-size: 18px;
  }
  span {
    color: #bebebe;
  }
}

//! Cards
.hover-card-section {
  // margin-bottom: %
  height: 100vh;
  width: 100%;
  padding: 3% 0;
  color: #222;

  .hero-container {
    display: flex;
    flex-direction: row; /* md:flex-row */
    justify-content: space-between;
    align-items: flex-end; /* md:items-end */
    padding: 1.5rem 3rem; /* md:px-8 */
    .hero-title {
      max-width: 37.5rem;
      font-size: 2.5rem;
      font-weight: bold;
      line-height: 1.2;
      span {
        color: #6b7280; /* text-slate-400 */
      }
    }
    .learn-more-button {
      display: inline-block; /* whitespace-nowrap */
      padding: 0.75rem 1.5rem; /* px-4 py-2 */
      border-radius: 0.75rem; /* rounded-lg */
      background-color: #1f2937; /* bg-slate-900 */
      color: #fff; /* text-white */
      font-weight: 500; /* font-medium */
      box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15); /* shadow-xl */
      transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
      &:hover {
        background-color: #303f53;
        transform: scale(1.01);
      }
    }
  }

  .bounce-card {
    margin: 1%;
    .card-overlay {
      height: 80%;
      padding: 2%;
      border-radius: $radius * 3;
      transition: transform 0.2s ease-in-out;
      span {
        display: block;
        text-align: center;
        font-weight: 600;
        color: #ffffff;
      }
      &:hover {
        transform: rotate(10deg);
      }
    }
    .card:hover {
      transform: rotate(10deg);
    }
    .one {
      background: #8f8cf9;
    }
    .two {
      background: #fb9f35;
    }
    .three {
      background: #39d694;
    }
    .four {
      background: #f67298;
    }
  }

  .bounce-card-bottom {
    // position: relative;
    height: 250px;
    cursor: pointer;
    overflow: hidden;
    border-radius: $radius;
    background-color: #f1f5f9;
    padding: 1rem;
  }

  .card-title {
    text-align: center; /* text-center */
    font-size: 28px; /* text-3xl */
    font-weight: 700; /* font-semibold */
    margin-bottom: 10%;
  }
}
